@media (min-width: 1200px) {
  .center {
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
  }
}
@media (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
}
@media (max-width: 992px) {
  .center {
    padding-left: calc(50% - 360px);
    padding-right: calc(50% - 360px);
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 260px);
    padding-right: calc(50% - 260px);
  }
}
@media (max-width: 576px) {
  .center {
    padding: 0 15px;
  }
}
@media (max-width: 320px) {
  .center {
    padding: 0px 0px;
  }
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.upperHeader {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.headerRight__item {
  cursor: pointer;
}
@media (max-width: 576px) {
  .headerRight__item:not(:first-child) {
    display: none;
  }
}
.headerRight__item:not(:last-child) {
  margin-right: 33px;
}

summary {
  display: block;
  outline: none;
}
summary::-webkit-details-marker {
  display: none;
}

.headerSearch {
  margin-left: 41px;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.modal:target {
  display: flex;
  pointer-events: auto;
}
.modal__body {
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
  display: block;
  margin: auto;
  padding: 15px;
  background: #FFF;
  width: 232px;
}
.modal__full {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.modal .closeToggle {
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 18px;
}
.modal__list__item p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: default;
}
.modal__category {
  margin-bottom: 12px;
}
.modal__category__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.modal__category__item {
  padding-left: 15px;
  margin-bottom: 11px;
}
.modal__category__item a:hover {
  color: #F16D7F;
  transition: 200ms;
}
.modal__category summary {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  cursor: pointer;
}

.pageInfo {
  background: #F8F3F4;
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.pageInfoTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.regContainer {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-basis: 160px;
  flex-wrap: nowrap;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .regContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.regContainer__info {
  display: inline-block;
}
@media (max-width: 576px) {
  .regContainer__info {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .regContainer__info {
    padding-left: 52px;
    max-width: 452px;
  }
}
@media (max-width: 1200px) {
  .regContainer__info {
    padding-left: 52px;
    max-width: 652px;
  }
}
.regContainer__info__title {
  display: inline-block;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 0;
}
@media (max-width: 1200px) {
  .regContainer__info__title {
    font-size: 24px;
    line-height: 29px;
  }
}
.regContainer__info__text {
  text-align: justify;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  word-wrap: break-word;
  margin-bottom: 21px;
  color: #000000;
}
@media (max-width: 1200px) {
  .regContainer__info__text {
    font-size: 24px;
    line-height: 29px;
  }
}
.regContainer__info__list {
  display: inline-block;
  list-style-image: url("galka.png");
  padding: 0;
  margin: 0;
}
.regContainer__info__list__item {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .regContainer__info__list__item {
    font-size: 24px;
    line-height: 29px;
  }
}
.regContainer__form {
  width: 100%;
}
@media (max-width: 576px) {
  .regContainer__form {
    padding: 0 8px;
  }
}
@media (max-width: 992px) {
  .regContainer__form {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .regContainer__form {
    margin-bottom: 56px;
  }
}
.regContainer__form__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
  margin-top: 0;
}
.regContainer__form__input {
  width: 100%;
  padding: 13px 18px;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #A4A4A4;
  outline: none;
}
.regContainer__form__input::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.regContainer__form__radio {
  margin-bottom: 34px;
}
.regContainer__form__radio__label {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 20px;
}
.regContainer__form__radio__label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.regContainer__form__radio__button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.regContainer__form__radio__button:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.regContainer__form__radio__button:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.regContainer__form__radio__button:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
.regContainer__form__radio__button:checked + label::before {
  background-color: #D3D3D3;
}
.regContainer__form__radio__button:disabled + label::before {
  background-color: #e9ecef;
}
.regContainer__form__condition {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 40px;
  color: #B1B1B1;
}
.regContainer__form__button {
  background-color: #F16D7F;
  width: 167px;
  height: 50px;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border: none;
  outline: none;
  cursor: pointer;
}
.regContainer__form__button img {
  margin-left: 20px;
}
.regContainer__form__button:hover {
  background-color: #DE6474;
  border-top: 4px solid #9D4752;
  border-right: 4px solid #9D4752;
}
.regContainer__form__button:active {
  background-color: #C45867;
  border-top: none;
  border-right: none;
}

.subscribe {
  position: relative;
  overflow: hidden;
}

.subscribeFlex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 13em;
  margin-top: 13em;
}
@media (max-width: 768px) {
  .subscribeFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.subscribeImageBg {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.subLeft {
  max-width: 360px;
  text-align: center;
}
@media (max-width: 768px) {
  .subLeft {
    margin-bottom: 4rem;
  }
}

.subLeftImg {
  margin-bottom: 30px;
}

.subleftText {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subleftText > span {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subRight {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subRightTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subRightText {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 2rem;
}

.subRightSubmitContainer {
  display: flex;
  justify-content: space-between;
}

.subRightinput {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  flex-grow: 1;
  border: none;
  background-color: #E1E1E1;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  padding-left: 22px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.subRightinput:focus {
  outline: none;
}

.subRightButton:focus {
  outline: none;
}

.subRightButton:hover {
  background-color: #E46778;
}

.subRightButton {
  background-color: #F16D7F;
  border: none;
  padding: 20px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 200ms;
}

footer {
  background-color: #222224;
  padding: 24px;
}

footer > .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footerLeft {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footerIcon:not(:last-child) {
  margin-right: 8px;
}

.footerIcon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footerIcon:hover path {
  fill: white;
}

.footerIcon:hover {
  background-color: #F16D7F;
}